<html>
<head>
	<title>Product Signup Page</title>
</head>
<body>

	<form method="post" action="">
		<fieldset>
			<legend>ADD Product</legend>
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name="name" value=""></td>
				</tr>
				<tr>
					<td>Buying Price</td>
					<td><input type="digit" name="bprice" value=""></td>
				</tr>
				<tr>
					<td>Selling Price</td>
					<td><input type="digit" name="sprice" value=""></td>
				</tr>
                <tr>
					<td>Display</td>
					<td><input type="checkbox" name="display" value=""></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="Save" value="Save"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>